@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
}

.header {
  font-family: "Raleway";
}

.casual {
  font-family: "Poppins";
}

.jumping{
  transition: transform 250ms;
}

.jumping:hover {
  transform: translateY(-5px);
}